@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

.banner {
    height: 4.8rem;
    padding: 0rem 2rem 0rem;
    background-color: #235284;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
}

.banner-title {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.row {
    display: flex;
    align-items: stretch;
    height: 100%; /* ensure row takes full height */
    margin: 0;
    padding: 0;
}

.three.columns {
    margin-right: 12px;  
    padding: 0;
}

.nine.columns {
    margin-left: 0;
    padding: 0;
}

/* #left-section-3 */ 
#left-section-1,
#left-section-2 {
    background-color: #F4F5F7;
    font-weight: 500;
    font-size: 14px;
    padding-left: 12px;
    margin: 0;
    padding: 0;
}

#left-column,
#right-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    margin-top: 8px;
}

#left-column {
    background-color: white;
    padding: 0;
}

.section-title {
    background-color: #8DCFEC;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 6px 16px;  
    width: 100%;
    box-sizing: border-box;
}
.section-body {
    padding-left: 16px; 
}

#right-column {
    background-color: white;
    flex-grow: 1;
    padding: 10px;
}

.tab {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 50px !important; /* or adjust smaller/larger */
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #F4F5F7 !important;
    border-color: #DADFE3 !important;
}


/*set a min height to force full-page stretch */
html, body, #app-container {
    height: 100%;
    color: #333333;}

/* Default style for both dropdowns */
#region-dropdown .Select-control,
#country-dropdown .Select-control {
    min-height: 30px !important;
    height: 30px !important;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

/* When country dropdown has values, let it expand */
#country-dropdown .Select.has-value .Select-control {
    height: auto !important;
    min-height: 30px !important;
    flex-wrap: wrap !important;
    align-items: flex-start !important;
}

/* Multi-value wrapper: scrollable */
#country-dropdown .Select-multi-value-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-height: 120px;
    overflow-y: auto;
}





  